<div>
  <p>Educacion</p>
  <p>Colegio Ballicherato Academico Rosarista
p Certificado (Neuroventas) Politecnico Internacional
p Ballicher
p  Estudie ocho años en la capital de Colombia (Bogotá) hasta el año
p séptimo y termine mis estudios en Ibagué Tolima hasta el año undécimo.
p Manejo de ventas en el ámbito laboral como negociante de un
p producto o servicio, tomando en cuenta las necesidades del cliente
p según el producto que quiere adquirir o está buscando.</p>
</div>