doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Habilidades blandas 

        p Limador o remodelaror de muebles de aluminio Car 18t #65f 36 Sur. San fancisco, Bogota, Colombia Enero 2012 Finalizo Marzo 2020 Remodelado de muebles de aluminio Empresa Fundi Torres Soy el que lima o mejora el aspecto de los muebles de aluminio para su venta.
    body 
    