doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
       <div class="container">
  <div id="heading-a" class="row text">
    <p class="text-sm">Culmine mi bachillerato en el año 
     p dos mil diecinueve en la que
     p culmine mis estudios en Ibagué
     p (Colombia) estoy estudiando
     p Desarrollo de Software en el
     p político internacional desde el
     p año 2020 en la ciudad de Bogotá,
     p Colombia, finalizo mis estudios
     p como tecnólogo en el año 2022.
     p Tengo conocimiento en
     p programación en HTML, java y  
     p bases de datos.
  </div>
</div>