doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        p Esta es mi hoja de vida ¡Samuel Andres Porras Torres!
        ul
            li #{Estudiante de desarrollo de software ("politecnico internacional")}
           